body, html{
  height: 100vh;
  width: 100vw;
  position: relative;
  z-index: 0;
}

.app{
  width: 100%;
  margin: 0;
  padding: 0;
  height: 100%;
}

.navbar{
  height: 7vh;
  width: 100%;
  background: #2C3E50;
}

.sidebar{
  height: 93vh;
  margin: 0;
  /* padding: 0 1vw; */
  /* width: 15vw; */
  background: #34495e;
}

.navbar{
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.navbar-list{
  list-style-type: none;
  padding: 0;
  color: #fff;
}


.navbar-warning{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 5vh;
  width: 5vh;
  background: #E74C3C;
  margin-right: 1vw;
  transition: all 0.3s;
}

.navbar-warning:hover{
  background: rgb(216, 33, 12);
}

.navbar-warning>*{
  font-size: 3vh;
}

.warning{
  margin-right: 5px;
}

.sidebar-list{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding:0;
  margin: 0;
  width: 100%;
  height: 100%;
}

.sidebar-list>ul{
  padding: 0;
  list-style: none;
}

.sidebar-item{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 30px;
  padding-right: 20px;
  color: #fff;
  width: calc(100% - 50px);
  height: 10vh;
  /* margin-bottom: 10px; */
  background: #fff;
  transition-property: background;
  transition-duration: 0.3s;
  font-size: 4vh;
}

.sidebar-item > span {
  text-transform: uppercase;
}

.sidebar-item > i{
  margin-right: 10px;
}

.pages{
  background: #1ABC9C;
}

.pages:hover{
  background: #16a085;
}

.content{
  background: #2ecc71;
}

.content:hover{
  background: #27ae60;
}

.files{
  background: #f1c40f;
}

.files:hover{
  background: #f39c12;
}

.users{
  background: #e74c3c;
}

.users:hover{
  background: #c0392b;
}

.view{
  background: #9b59b6;
}

.view:hover{
  background: #8e44ad;
}

.settings{
  background: #3498db;
}

.settings:hover{
  background: #2980b9;
}

.main-content{
  background: #fff;
  margin: 0;
  width: 100%;
  position: relative;
  z-index: 1;
}

.row{
  display: flex;
  flex-direction: row;
  width: 100%;

} 

.arrow{
  position: absolute;
  background: #fff;
  height: 50px;
  width: 50px;
  transform: rotate(45deg);
  z-index: 1;
  transition: top 0.5s ease-in-out
}

.switch-wrapper {
  position: relative;
}
 
.switch-wrapper > div {
  position: absolute;
}

.w-100{
  width: 100%;
}

input.w-100{
  width: calc(100% - 2rem);
}

.form-group>select, .form-group>input{
  height: 2rem;
  border-radius: 15px;
}

.form-group>select{
  padding: 0rem 1rem;
}

.form-group>input{
  border: 1px solid #a9a9a9;
  padding-left: 1rem;
  padding-right: 1rem;
}

.form-group>select:focus, .form-group>input:focus{
  outline: none;
  box-shadow: 0px 0px 2px #3498db;
  border-radius: 15px;
}

.form-group>label{
  display: inline-block;
  margin-bottom: 5px;
  margin-left: 5px;
  font-weight: 600;
}

.btn{
  border: none;
  margin: 5px 3px;
  border-radius: 5px;
  font-size: 1.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-success{
  background: #2ecc71;
  color: #fff;
}

.btn-outline-success{
  border: 2px solid #2ecc71;
  background: inherit;
  color: #2ecc71;
  border-radius: 50px;
}

.btn-outline-success:hover{
  border-color: #27ae60;
  background: inherit;
  color: #27ae60;
}

.btn-danger{
  background: #e74c3c;
  color: #fff;
  
}

.btn-danger:hover{
  background: #c0392b;
  color: #fff;
}

.fit-content{
  align-self: flex-start
}

.mt-1{
  margin-top: 1rem;
}

.mt-2{
  margin-top: 2rem;
}

.mt-3{
  margin-top: 3rem;
}

.mt-4{
  margin-top: 4rem;
}

.mt-5{
  margin-top: 5rem;
}