.page-detail-container{
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 2rem 1rem;
}

.pageSettings{
  width: 100%;
  background: #ecf0f1;
  height: 100%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.margin-container{
  padding: 2rem;
  height: 100%;
  display: flex;
  flex-direction: column;
}

