.container{
  position: relative;
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: flex-start;
  height: 100%;
}

.center{
  justify-content: center;
  align-items: center;
}

.page-row{
  display: flex;
  flex-direction: row;
  width: 100%;
}

.pages-list{
  padding: 0;
  list-style: none;
  border-radius: 15px;
  border: 1px solid gray;
  padding: 10px;
}

.page{
  /* border: 1px solid gray; */
  font-size: 1.5rem;
  margin: 10px 0px;
  /* border-radius: 15px; */
  padding: 2px 10px;
  background: #e67e22;
}

.switch-wrapper>div, .switch-wrapper{
  width: 100%;
  height: 100%;
}

.pagesList{
  height: 100%;
  width: 20vw;
  background: #7f8c8d;
}

.pagesList>ul{
  list-style: none;
  padding-left: 20px;
}

.pagesList>ul>li{
  border: 1px solid rgba(255,255,255, 1);
  margin-right: 20px;
  padding: .5rem 1.25rem;
  color: #fff;
  margin-bottom: -1px;
}

.pagesList>ul>li:first-child{
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
}

.pagesList>ul>li:last-child{
  border-bottom-left-radius: .25rem;
  border-bottom-right-radius: .25rem;
}

.pagesList>ul>li:hover{
  background: #95a5a6;
  cursor: pointer;
}

.pagesList>ul>li>span{
  margin-left: 10px;
}

.pagesList>ul>li>span:hover{
  cursor: inherit;
}